In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [28]:
#Training Models on Basic Data
df=pd.read_csv("Datasets/cleandata.csv")
df.drop(df.columns[0],axis=1,inplace=True)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,2,1,0,1,0,0,0,0,0,1,0,29.85,29.85,0
1,0,0,0,0,34,1,0,1,1,0,1,0,0,0,1,0,1,56.95,1889.50,0
2,0,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,1,53.85,108.15,1
3,0,0,0,0,45,0,2,1,1,0,1,1,0,0,1,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,2,0,0,0,0,0,0,0,1,0,70.70,151.65,1

In [29]:
#prepare Data for training/testing
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [30]:
X.shape

(7043, 19)

In [31]:
y.shape

(7043,)

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=21)

In [33]:
#KNN Model
knn=KNeighborsClassifier(n_neighbors=20)
knn.fit(X_train,y_train)
yknn=knn.predict(X_test)
knnacc=accuracy_score(yknn,y_test)
knnacc

0.7920511000709723

In [34]:
#SVC model
svc=SVC()
svc.fit(X_train,y_train)
ysvc=svc.predict(X_test)
svcacc=accuracy_score(ysvc,y_test)
svcacc

0.7345635202271115

In [35]:
#Logistic Regression Model
logreg=LogisticRegression(max_iter=1000)
logreg.fit(X_train,y_train)
ylogreg=logreg.predict(X_test)
logregacc=accuracy_score(ylogreg,y_test)
logregacc

d:\ClassificationProject\.venv\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.794889992902768

In [36]:
#Tree Model
tree=DecisionTreeClassifier()
tree.fit(X_train,y_train)
ytree=tree.predict(X_test)
treeacc=accuracy_score(ytree,y_test)
treeacc

0.7253371185237757

In [37]:
#Forest Model
forest=RandomForestClassifier()
forest.fit(X_train,y_train)
yforest=forest.predict(X_test)
forestacc=accuracy_score(yforest,y_test)
forestacc

0.7806955287437899

In [38]:
#Training Models on Normalized Data
normaldf=pd.read_csv("Datasets/normaldata.csv")
normaldf.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,1.0,0.0,1.0,0.0,0.013889,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.115423,0.003437,0.0
1,1,0.0,0.0,0.0,0.0,0.472222,1.0,0.0,0.5,0.5,...,0.5,0.0,0.0,0.0,0.5,0.0,0.333333,0.385075,0.217564,0.0
2,2,0.0,0.0,0.0,0.0,0.027778,1.0,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.333333,0.354229,0.012453,1.0
3,3,0.0,0.0,0.0,0.0,0.625000,0.0,1.0,0.5,0.5,...,0.5,0.5,0.0,0.0,0.5,0.0,0.666667,0.239303,0.211951,0.0
4,4,1.0,0.0,0.0,0.0,0.027778,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.521891,0.017462,1.0